/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body and Background */
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
  }
  
  /* Header and Navigation */
  header {
    background-color: #061403ce;
    color: #fff;
    padding: 20px 0;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Hero Section */
  .hero {
    background-color:#2d642d;
    color: #fff;
    padding: 100px 0;
    
  }
  
  .hero h1 {
    font-size:48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 30px;
    font-family: ;
  }
  
  .cta-button {
    background-color: #fff;
    color: #2d642d;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
  }
  
 
  .cta-button:hover {
    background-color: #469c46;
    color: #fff;
  }
  
  /* Content Section */
  .content {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
  }
  
  .card {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
  }
  
  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 16px;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
  }
  